In [1]:
import os
import glob
import pandas as pd
os.chdir("trip_data")

In [2]:
###########################################################################
# The original file merge resulted in a csv that exceeded the github file
# restriction. For purposes of demonstrating code, two files have been
# uploaded to github. The presented project merged 50 files with this code
# and was perfomed with files stored on a local machine.
##########################################################################

extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
#combine all files in the list
combined_df = pd.concat([pd.read_csv(f) for f in all_filenames ])
combined_df.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,2389,2015-01-01 00:02:44,2015-01-01 00:42:33,31271,Constitution Ave & 2nd St NW/DOL,31254,15th & K St NW,W01140,Casual
1,2394,2015-01-01 00:02:46,2015-01-01 00:42:41,31271,Constitution Ave & 2nd St NW/DOL,31254,15th & K St NW,W00612,Casual
2,468,2015-01-01 00:04:32,2015-01-01 00:12:20,31204,20th & E St NW,31234,20th & O St NW / Dupont South,W01226,Member
3,348,2015-01-01 00:07:18,2015-01-01 00:13:06,31602,Park Rd & Holmead Pl NW,31117,15th & Euclid St NW,W20216,Member
4,980,2015-01-01 00:09:39,2015-01-01 00:26:00,31247,Jefferson Dr & 14th St SW,31241,Thomas Circle,W21005,Casual

In [3]:
#export to csv
combined_df.to_csv( "combined_df.csv", index=False, encoding='utf-8-sig')

In [5]:
combined_df.shape

(34437556, 9)